#home-page {
	width: 100vw;
	height: 100vh;

	color: var(--color-font);
}

#login-form {
	background: var(--background-primary);
	width: 30vw;
	height: 40vh;

	padding: 32px;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
	border-radius: 5px;
	box-sizing: border-box;
}

#login-header {
	font-weight: 600;
	margin-bottom: 8px;
	color: var(--header-primary);
	font-size: 24px;
   line-height: 30px;
}

#login-header-secondary {
	color: var(--header-secondary);
	font-size: 16px;
   line-height: 20px;
}

#login-body {
	padding-top: 15px;
	width: 100%;
}

#login-register {
	display: flex;
	justify-content: start;
	align-items: center;
	padding-top: 15px;
	width: 100%;
	flex-direction: row;
}

#login-register span {
	font-size: 1.2rem;
	display:inline-block;
	margin-right: 7px;
	color: #72767d;
}

#login-register button {
	height: 2.0rem;
}